body { 
    font-family: 'Roboto', sans-serif;
    color:#434455; 
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------ Header ----------------------- */
.header {
    border-bottom: 1px solid #E7E9FC;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}
.studio {
    color: #2e2f42;
}
.link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: #404bbf;}
    
.adreska {
    font-style: normal;
}
.adreska-spys {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adreska-spys:hover,
.adreska-spys:focus {
    color: #404bbf;
}

.adreska-ul {
    display: flex;
    gap: 40px;
}

.header-div {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 76px;
    align-items: center
}

.menu {
    display: flex;
    gap: 40px;
}
.section {
    padding: 120px 0;
}
/* ------------------------ Секція 1 ----------------------- */

.section-one {
    background-color: #2E2F42;

    padding: 188px 0;
}
.section-one .zag {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    height: 120px;
    max-width: 496px;
    }
.button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000015;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* ------------------------ Секція 2 ----------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.par-two {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------------------ Секція 3 ----------------------- */

.section-three {    
    background-color: #F4F4FD;
}
.section-three-spys {
    background-color: #FFFFFF;  
}
.section-three-team {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.section-three-zag {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-three-par {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;    
 }

/* ------------------------ Секція 4 ----------------------- */

.section-four {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.section-four-zag {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-four-par {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------------------ Footeer ----------------------- */

.footer-block {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-block .logot {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-block .stud {
    color: #f4f4fd;
}
.footer-block .parfoot {
    color: #f4f4fD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}





           





