body { 
    font-family: 'Roboto', sans-serif;
    color:#434455; 
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* аупцупцпцкпцукпцукпцук */
/* ------------------------ Header ----------------------- */

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio {
    color: #2e2f42;
}
.link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: #404bbf;}
    
.adreska {
    font-style: normal;
}
.adreska-spys {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adreska-spys:hover,
.adreska-spys:focus {
    color: #404bbf;
}

/* ------------------------ Секція 1 ----------------------- */

.section-one {
    background-color: #2E2F42;
}
.section-one .zag {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    }
.button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;   
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* ------------------------ Секція 2 ----------------------- */

.section-two {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.par-two {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------------------ Секція 3 ----------------------- */

.section-three {    
    background-color: #F4F4FD;
}
.section-three-spys {
    background-color: #FFFFFF;  
}
.section-three-team {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.section-three-zag {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-three-par {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;    
 }

/* ------------------------ Секція 4 ----------------------- */

.section-four {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.section-four-zag {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-four-par {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------------------ Footeer ----------------------- */

.footer-block {
    background-color: #2E2F42; 
}
.footer-block .logot {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-block .stud {
    color: #f4f4fd;
}
.footer-block .parfoot {
    color: #f4f4fD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}





           





